<div style="background-color: aquamarine">
    Im Welcome page!
</div>
<div>
    <a href="/users">Users</a>
    <a href="/users/0">Самий не скромний!</a>
    <a href="/cars">Cars</a>
    <a href="/cars/3">Краща тачка!</a>
</div>