doctype html
html
    head
    body
        div Gym "Скала"

        block content

        div Щиро ваш Van Darkholme <3
            | Boss of this gym
            br
            a(href=frontendURL) Have a nice gym
