extends container
block content
    p #{userName}
    div
        | Our daddy taught us not to be ashamed to forget our passwords.
        p Well, my dad also taught me a few things, like how to change passwords with generated tokens, not with your own hands.

        button
            a(href=forgotPasswordUrl) Change passwords
